<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>

    <bean id="applicationProperties"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:persistence.properties"/>
    </bean>

    <bean id="source" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <constructor-arg type="java.lang.String" value="${persistence.jdbc.url}"/>
        <constructor-arg type="java.lang.String" value="${persistence.jdbc.user}"/>
        <constructor-arg type="java.lang.String" value="${persistence.jdbc.password}"/>
        <property name="driverClassName" value="${persistence.jdbc.driverClassName}"/>
    </bean>

    <bean id="fileManager" class="persistence.dao.fileManager.FileManagerImpl"/>
    <bean id="connector" class="persistence.connectAndSource.Connector"/>

    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">

        <property name="dataSource">
            <ref bean="source"/>
        </property>

        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.hbm2ddl.auto">${persistence.hibernate.hbm2ddl.auto}</prop>
                <prop key="hibernate.dialect">${persistence.jdbc.h2Dialect}</prop>
                <prop key="hibernate.show_sql">${persistence.hibernate.showSQL}</prop>
                <prop key="hibernate.connection.pool_size">${persistence.hibernate.poolSize}</prop>
            </props>
        </property>

        <property name="mappingResources">
            <list>
                <value>/Hibernate.hbm.xml</value>
            </list>
        </property>
    </bean>

    <beans profile="raw">
        <bean id="userDAO" class="persistence.dao.rawJdbcImpl.UserDAOImpl"/>
        <bean id="imageDAO" class="persistence.dao.rawJdbcImpl.ImageDAOImpl"/>
    </beans>

    <beans profile="template">
        <bean id="userDAO" class="persistence.dao.jdbcTemplateImpl.UserDAOImpl"/>
        <bean id="imageDAO" class="persistence.dao.jdbcTemplateImpl.ImageDAOImpl"/>
    </beans>

    <beans profile="hibernate">
        <bean id="userDAO" class="persistence.dao.hibernateImpl.UserDAOImpl"/>
        <bean id="imageDAO" class="persistence.dao.hibernateImpl.ImageDAOImpl"/>
    </beans>
</beans>