<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">
    <display-name>GalleryProject</display-name>

    <welcome-file-list>
        <welcome-file>Identification.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>LogIn</servlet-name>
        <servlet-class>servlets.LogIn</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogIn</servlet-name>
        <url-pattern>/LogIn</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>servlets.LogOut</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>

</web-app>