<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">
    <display-name>GalleryProject</display-name>

    <welcome-file-list>
        <welcome-file>LogIn.jsp</welcome-file>
    </welcome-file-list>

    <error-page>
        <error-code>401</error-code>
        <location>/LogIn.jsp</location>
    </error-page>

    <!--^^^^^^^^-->
    <!--Servlets-->
    <!--........-->

    <servlet>
        <servlet-name>LogIn</servlet-name>
        <servlet-class>web.servlets.LogIn</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogIn</servlet-name>
        <url-pattern>/LogIn</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>web.servlets.LogOut</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ImageUpload</servlet-name>
        <servlet-class>web.servlets.ImageUpload</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ImageUpload</servlet-name>
        <url-pattern>/ImageUpload</url-pattern>
    </servlet-mapping>

    <!--^^^^^^^-->
    <!--Filters-->
    <!--.......-->

    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>web.servlets.AuthenticationFilter</filter-class>
        <init-param>
            <param-name>default_page</param-name>
            <param-value>/LogIn.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>public_pages</param-name>
            <param-value>/LogIn , /LogOut</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>